default:
  email_delivery:
    delivery_method: :smtp
  smtp_settings:
    address: smtp.gmail.com
    port: 465
    ssl: true
    enable_starttls_auto: true
    domain: gmail.com
    authentication: :login
    user_name: EMAIL
    password: PASSWORD