POSTGRES_DB=redmine
POSTGRES_USER=redmine
POSTGRES_PASSWORD=
POSTGRES_INITDB_WALDIR=/var/log/postgresql
REDMINE_DB_POSTGRES=postgres.default.svc.cluster.local
REDMINE_DB_USERNAME=redmine
REDMINE_DB_PASSWORD=
REDMINE_DB_DATABASE=redmine